
nav {
    font-family: 'Raleway';
    font-size: 24px;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    >img {
        width: 64px;
        height: 64px;
    }
    >div{
        display: flex;
        align-items: center;
        gap: 16px;
        >a{
            &:hover{
                color: red;
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
    margin: 0px 24px;
}

.phone_btn {
        background-color: #9F0908;
        padding: 8px;
        border: 2px solid white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover{
            background-color: rgb(220, 0,0);
        }
        >img {
            width: 24px;
            height: 24px;
        }
}