<section class="footer" id="about">
    <div class="footer-container">
        <img class="footer-logo" src="../../../assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png" alt="sakura_ramen_logo">
        <div class="sozial_media">
            <img src="../../../assets/img/5_section_footer/PNG/tripadvisor_logo.png">
            <img src="../../../assets/img/5_section_footer/PNG/facebook_logo.png">
            <img src="../../../assets/img/5_section_footer/PNG/instagrram_logo.png">
        </div>
    </div>
</section>