.footer-container{
    background-color: #0A141E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding-left: 160px;
    padding-right: 160px;
}

.footer-container img {
    height: 44px;
}

.sozial_media {
    display: flex;
    gap: 1rem;
}