<section class="how_to_order">
    <h2>HOW TO ORDER</h2>
    <div class="picks">
        <div class="pick">
            <img class= "hto-img" src="../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="noodle">
            <p>Pick your <br>noodle</p>
        </div>
        <div class="pick">
            <img class="hto-img" src="../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="broth">
            <p>Pick your <br>broth</p>
        </div>
        <div class="pick">   
            <img class="hto-img" src="../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="egg">
            <p>Add your <br>toppings</p>
        </div>
    </div>
</section>